:root{
  --cor_principal: #fff;
  --cor_secundaria: #222;
  --cor_appearence_1: #00000017;
  --cor_fonte_escura_1: #222;
  --cor_link_1: #fcb045;
  --cor_link_hover: #ff8d35;
  --cor_gradiente: linear-gradient(90deg, rgba(163,55,114,1) 0%, rgb(228, 43, 43) 42%, rgba(252,176,69,1) 85%);
}

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}

body{
  width: 100vw;
  height: 100vh;
  background-image: var(--cor_principal)
}

#root{
  max-width: 1120px;
  display: flex;
  justify-content: center;
  margin: 120px auto;
  height: fit-content;
}

button{
  cursor: pointer;
}